{% extends "base/main.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
{% if "income" in request.path %}
<title>Thu Nhập</title>
{% else %}
<title>Chi Tiêu</title>
{% endif %}
{% endblock  %}

{% block content %}
<div class="container my-3">

    {% if daily_records %}

    {% for date, records in daily_records %}
    <div class="border rounded-3 p-3 bg-white mb-3">
        <div class="d-flex align-items-center fw-bold mb-3">
            <div class="fw-bold text-primary">
                <i class="fa-regular fa-calendar me-1"></i>
                {{ date }}
            </div>
            <div class="text-primary ms-auto">
                {{ records|sum_money }} đ
            </div>
        </div>
        <div>
            {% for record in records %}
            <div class="p-2 record border rounded-3 mb-2">
                <div class="d-flex align-items-center"
                    onclick="location.href='record/{{record.id}}/change?next={{request.path}}';"
                    style="cursor: pointer;">
                    <div class="">
                        <small>
                            <i class="fa-regular fa-clock me-1"></i>
                            {{ record.timestamp|time:"H:i" }}
                        </small>
                        <div class="fw-bold mt-2">{{ record.category }}</div>
                    </div>

                    <div class="ms-auto">
                        <div
                            class="fw-bold text-end {% if "income" in request.path %}text-success{% else %}text-danger{% endif %}">
                            {{ record.formatted_money }} đ</div>
                        <div class="text-end mt-2">
                            <small>
                                <i class="fa-solid fa-wallet me-1"></i>
                                {{ record.wallet }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}

    {% else %}
    <div class="border rounded-3 p-3 bg-white text-center text-danger">Không có bản ghi nào</div>

    {% endif %}

    {% include "base/paginator-2.html" %}
</div>

{% include "base/floating-button.html" %}
{% include "base/modal-2.html" %}
{% endblock %}

{% block script %}
<script src="{% static "js/select2-init.js" %}"></script>
{% endblock  %}