{% extends "base/main.html" %}
{% load static %}
{% load humanize %}

{% block title %}
<title>Danh bạ</title>
{% endblock  %}

{% block content %}
<div class="container mt-3">

    <div type="button" class="position-fixed" style="bottom: 30px;right: 30px;" title="Thêm">
        <a class="btn btn-primary d-flex justify-content-center align-items-center rounded-circle fw-bold"
            data-bs-toggle="modal" data-bs-target="#mainModal" style="width: 60px;height: 60px;">
            <i class="fa-solid fa-plus fs-3"></i>
        </a>
    </div>

    <div class="rounded-3">
        {% if directories %}
        {% for directory in directories %}
        <div class="rounded-3 p-3 bg-white mb-3">
            <div class="p-2 record border rounded-3 bg-white">
                <div class="d-flex align-items-center" onclick="location.href='directory/{{ directory.id }}/change';"
                    style="cursor: pointer;">
                    <div class="">
                        <small>
                            <i class="fa-regular fa-clock me-1"></i>
                            {{ directory.updatedAt|time:"H:i" }} -

                            <i class="fa-regular fa-calendar me-1"></i>
                            {{ directory.updatedAt|date:"d/m/Y" }}
                        </small>
                        <div class="fw-bold">
                            <i class="fa-solid fa-user me-1"></i>
                            {{ directory }}
                        </div>
                    </div>
                    <div class="ms-auto">
                        <div class="text-end">
                            <small>
                                <i class="fa-solid fa-phone me-1"></i>
                                {{ directory.phone }}
                            </small>
                        </div>
                        <div class="text-end">
                            <small>
                                <i class="fa-solid fa-map-location-dot me-1"></i>
                                {{ directory.address|truncatechars:10 }}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="bg-white p-3 rounded-3 text-center text-danger">Không có bản ghi nào</div>
        {% endif %}
    </div>

    {% include "base/paginator.html" %}

</div>

{% include "directory/directory-modal.html" %}
{% endblock %}