{% extends "base/modal.html" %}
{% load crispy_forms_tags %}

{% block modalContent %}
<div class="modal-header">
    <h1 class="modal-title fs-5">Thêm danh bạ</h1>
    <button type=" button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <form class="mb-0 w-100" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form|crispy }}

        <div class=" d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Lưu</button>
        </div>
    </form>
</div>
{% endblock  %}