{% extends "base/main.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}
<title>Danh bạ</title>
{% endblock  %}

{% block content %}
<div class="container mt-3">
    {% include "base/record-filter.html" %}

    <div class="rounded-3">
        {% if directories %}

        {% for directory in directories %}
        <div class="record border rounded-3 p-3 bg-white mb-3"
            onclick="location.href='directory/{{ directory.id }}/change';" style="cursor: pointer;">
            <div class="d-flex align-items-center">
                <div class="">
                    <small>
                        <i class="fa-regular fa-clock me-1"></i>
                        {{directory.updatedAt|natural_time }}
                    </small>
                    <div class="fw-bold mt-2">
                        <i class="fa-solid fa-user me-1"></i>
                        {{ directory }}
                    </div>
                </div>
                <div class="ms-auto">
                    <div class="text-end">
                        <small>
                            <i class="fa-solid fa-phone me-1"></i>
                            {{ directory.phone }}
                        </small>
                    </div>
                    <div class="text-end mt-2">
                        <small>
                            <i class="fa-solid fa-map-location-dot me-1"></i>
                            {{ directory.address|truncatechars:20 }}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        {% else %}
        <div class="border rounded-3 p-3 bg-white text-center text-danger">Không có bản ghi nào</div>

        {% endif %}

    </div>

    {% include "base/paginator-2.html" %}
</div>

{% include "base/floating-button.html" %}
{% include "base/modal-2.html" %}
{% endblock %}