{% extends "base/main.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
<title>Vay nợ</title>
{% endblock  %}

{% block content %}
<div class="container mt-3">
    <div type="button" class="position-fixed" style="bottom: 30px;right: 30px;" title="Thêm">
        <a class="btn btn-primary d-flex justify-content-center align-items-center rounded-circle fw-bold"
            data-bs-toggle="modal" data-bs-target="#mainModal" style="width: 60px;height: 60px;">
            <i class="fa-solid fa-plus fs-3"></i>
        </a>
    </div>
    <div class="border rounded-3 bg-white mb-3">
        <div class="p-3">
            <div class="d-flex fw-bold gap-2 mb-2">
                {% if "lend" in request.path %} Cần thu:
                {% else %}
                Cần trả:
                {% endif %}
                <div class="text-danger">{{calculate.need_collect_repaid}} đ</div>
            </div>

            <div class="d-flex mb-3">
                <div class="fw-bold">
                    {% if "lend" in request.path %} Đã thu
                    {% else %}
                    Đã trả
                    {% endif %}
                    <div class="text-success">{{calculate.total_collect_repaid}} đ</div>
                </div>
                <div class="fw-bold ms-auto text-end">
                    {% if "lend" in request.path %} Tổng cho vay
                    {% else %}
                    Tổng đã vay
                    {% endif %}
                    <div class="text-primary">{{calculate.total_money}} đ</div>
                </div>
            </div>

            <div class="progress fw-bold" style="height: 10px;">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{calculate.complete_percent}}%"
                    aria-valuenow="{{calculate.complete_percent}}" aria-valuemin="0" aria-valuemax="100">
                </div>
            </div>
        </div>
    </div>

    <div class="border rounded-3 bg-white mb-3">
        <div class="p-3">
            <div class="fw-bold mb-3">
                {% if "lend" in request.path %} Danh sách cho vay
                {% else %}
                Danh sách khoản nợ
                {% endif %}
            </div>

            {% if loans %}

            {% for loan in loans %}
            {% if loan.calculate.complete_percent < 100 %}
            <div class="d-flex align-items-center p-2 border rounded-3 mb-2 record" style="cursor: pointer;"
                {% if "lend" in request.path %}onclick="location.href='lend/{{loan.lender_borrower.id}}';"
                {% else %}onclick="location.href='borrow/{{loan.lender_borrower.id}}';" {% endif %}>
                <div class="fw-bold">
                    <i class="fa-solid fa-user me-1"></i>
                    {{loan.lender_borrower}}
                </div>
                <div class="text-end fw-bold ms-auto">
                    <div class="text-danger">
                        {{loan.calculate.need_collect_repaid}} đ</div>
                    <div class="text-success mt-2">
                        <small>
                            {{loan.calculate.total_collect_repaid}} đ
                        </small>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% else %}
            <div class="p-3 text-center text-danger">Không có bản ghi nào</div>

            {% endif %}
        </div>
    </div>

    <div class="border rounded-3 bg-white mb-3">
        <div class="p-3">
            <div class="fw-bold mb-3">Đã hoàn thành</div>

            {% if loans %}

            {% for loan in loans %}
            {% if loan.calculate.complete_percent >= 100 %}
            <div class="d-flex align-items-center p-3 border rounded-3 mb-2 record" style="cursor: pointer;"
                {% if "lend" in request.path %}onclick="location.href='lend/{{loan.lender_borrower.id}}';"
                {% else %}onclick="location.href='borrow/{{loan.lender_borrower.id}}';" {% endif %}>
                <div class="fw-bold">
                    <i class="fa-solid fa-user me-1"></i>
                    {{loan.lender_borrower}}
                </div>
                <div class="text-end fw-bold ms-auto text-success">{{loan.total_money}} đ</div>
            </div>
            {% endif %}
            {% endfor %}

            {% endif %}

            {% if not loans|is_loans_has_completed %}
            <div class="p-3 text-center text-danger">Không có bản ghi nào</div>
            {% endif %}
        </div>
    </div>


    {% include "loan/loan-modal.html" %}
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/loan.js" %}"></script>
<script src="{% static "js/select2-init.js" %}"></script>
{% endblock  %}