{% extends "base/main.html" %}
{% load static %}

{% block title %}
<title>Vay nợ</title>
{% endblock  %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "css/loan.css" %}">
{% endblock %}

{% block content %}
<div class="container mt-3">
    <div type="button" class="position-fixed" style="bottom: 30px;right: 30px;" title="Thêm">
        <a class="btn btn-primary d-flex justify-content-center align-items-center rounded-circle fw-bold"
            data-bs-toggle="modal" data-bs-target="#mainModal" style="width: 60px;height: 60px;">
            <i class="fa-solid fa-plus fs-3"></i>
        </a>
    </div>

    {% comment %} <div class="rounded-3 bg-white mb-3">
        <div class="d-flex p-2">
            <div class="">
                <select class="select form-select" id="loan_type">
                    <option value="1">Cho vay</option>
                    <option value="2">Đi vay</option>
                </select>
            </div>
            <form class="d-flex ms-auto mb-0">
                <input class="form-control me-2 ms-2" type="search" placeholder="Tìm kiếm người vay"
                    aria-label="Tìm kiếm theo tên">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
    </div> {% endcomment %}

    <div class="rounded-3 bg-white">
        <div class="rounded-3 p-3 ">
            <div class="">
                <div class="d-flex fw-bold gap-2 mb-2">
                    {% if "lend" in request.path %} Cần thu:
                    {% else %}
                    Cần trả:
                    {% endif %}
                    <div class="text-danger">{{calculate.need_collect_repaid}} đ</div>
                </div>
                <div class="d-flex mb-3">
                    <div class="fw-bold">
                        {% if "lend" in request.path %} Đã thu
                        {% else %}
                        Đã trả
                        {% endif %}
                        <div class="text-success">{{calculate.total_collect_repaid}} đ</div>
                    </div>
                    <div class="fw-bold ms-auto text-end">
                        {% if "lend" in request.path %} Tổng cho vay
                        {% else %}
                        Tổng đã vay
                        {% endif %}
                        <div class="text-primary">{{calculate.total_money}} đ</div>
                    </div>
                </div>

                <div class="progress fw-bold" style="height: 10px;">
                    <div class="progress-bar bg-success" role="progressbar"
                        style="width: {{calculate.complete_percent}}%" aria-valuenow="{{calculate.complete_percent}}"
                        aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 rounded-3 bg-white">
        <div class="p-3">
            <div class="fw-bold mb-3">
                {% if "lend" in request.path %} Danh sách cho vay
                {% else %}
                Danh sách khoản nợ
                {% endif %}
            </div>
            <div>
                {% if loans %}
                {% for loan in loans %}
                <div class="d-flex p-3 border rounded-3 mb-2 loan" style="cursor: pointer;"
                    onclick="location.href='lend/{{loan.lender_borrower.id}}';">
                    <div class="fw-bold">
                        <i class="fa-solid fa-user me-1"></i>
                        {{loan.lender_borrower}}
                    </div>
                    <div class="text-danger fw-bold ms-auto">{{loan.total_money}} đ</div>
                </div>
                {% endfor %}
                {% else %}
                <div class="p-3 text-center text-danger">Không có bản ghi nào</div>
                {% endif %}
            </div>
        </div>
    </div>


    {% include "loan/loan-modal.html" %}
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/loan.js" %}"></script>
{% endblock  %}