ul.errorlist {
  margin-bottom: 0;
}

ul.navbar-nav li.nav-item a.active {
  color: rgba(var(--bs-primary-rgb), 1);
  font-weight: bold;
}

ul.navbar-nav li.nav-item a:hover {
  background: rgba(var(--bs-primary-rgb), 1);
  color: rgba(var(--bs-white-rgb), 1);
}

#offcanvasExample {
  transition: ease 0.4s;
}

.record:hover {
  border-color: var(--bs-primary) !important;
}

input.form-check-input {
  border-color: var(--bs-primary);
}
