{% extends "base/main.html" %}
{% load static %}
{% load humanize %}
{% load custom_filters %}

{% block title %}
<title>Hạng Mục</title>
{% endblock  %}

{% block content %}
<div class="container mt-3">

    <div type="button" class="position-fixed" style="bottom: 30px;right: 30px;" title="Thêm">
        <a class="btn btn-primary d-flex justify-content-center align-items-center rounded-circle fw-bold"
            data-bs-toggle="modal" data-bs-target="#mainModal" style="width: 60px;height: 60px;">
            <i class="fa-solid fa-plus fs-3"></i>
        </a>
    </div>

    <div class="rounded-3">
        {% if category_groups %}

        {% for group_label, categories in category_groups.items %}
        <div class="border shadow-sm rounded-3 p-3 bg-white mb-3">
            <div class="d-flex align-items-center fw-bold mb-3">
                {% if group_label == "Thu tiền" %}
                <div class="fw-bold text-success">
                    {{ group_label }}
                </div>
                {% else %}
                <div class="fw-bold text-danger">
                    {{ group_label }}
                </div>
                {% endif %}
            </div>

            {% for category in categories %}
            <div class="p-2 record border rounded-3 mb-2">
                <div class="d-flex align-items-center" onclick="location.href='category/{{ category.id }}/change';"
                    style="cursor: pointer;">
                    <div class="">
                        <small>
                            {% if category.updatedAt|is_over_day %}
                            {% comment %} <i class="fa-regular fa-clock me-1"></i>
                            {{ category.updatedAt|time:"H:i" }} - {% endcomment %}

                            <i class="fa-regular fa-calendar me-1"></i>
                            {{ category.updatedAt|date:"d/m/Y" }}

                            {% else %}
                            <i class="fa-regular fa-clock me-1"></i>
                            Đã cập nhật
                            {{category.updatedAt|naturaltime }}

                            {% endif %}
                        </small>
                        <div class="fw-bold">{{ category.name }}</div>
                    </div>

                    <div class="ms-auto me-2">
                        <span class="badge rounded-circle bg-primary">{{category.category.count}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {% endfor %}

        {% else %}
        <div class="bg-white p-3 rounded-3 text-center text-danger">Không có bản ghi nào</div>

        {% endif %}
    </div>

    {% include "base/paginator.html" %}

</div>

{% include "category/category-modal.html" %}
{% endblock %}