{% extends "base/main.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
<title>Chỉnh Sửa Danh Mục</title>
{% endblock  %}

{% block stylesheet %}

{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="bg-white rounded-3">
        <form method="post" class="p-3">
            {% csrf_token %}
            {{ form|crispy }}

            <div class="d-flex justify-content-center gap-3">
                <button type="submit" class="btn btn-primary py-2 fw-bold">Lưu thay đổi</button>
                <a href="/category/{{instance.id}}/delete" class="btn btn-danger py-2 fw-bold"
                    onclick="DeleteCategoryDialog(event)">Xóa</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static "js/delete.js" %}"></script>
{% endblock  %}