{% if messages %}

<div id="messageList" class="position-absolute d-flex align-items-end flex-column overflow-hidden p-3"
    style="top: 5px; right: 5px;z-index: 1025;user-select: none;">

    {% for message in messages %}
    <!-- Success -->
    {% if message.tags == 'success' %}
    <div class="alert bg-white border-success shadow fade show" role="alert">
        <big><i class="fa-solid fa-circle-check text-success me-1"></i></big>
        {{message}}
        <button type="button" class="btn-close ms-1" data-bs-dismiss="alert" aria-label="Close"></button>

        <div class="alert-progress position-absolute start-0 bottom-0 bg-success"></div>
    </div>
    {% endif %}

    {% endfor %}

    <style>
        .alert-progress {
            width: 100%;
            height: 3px;
            animation: anim 3s linear forwards;
        }

        @keyframes anim {
            100% {
                width: 0%;
            }
        }
    </style>

    <script>
        setTimeout(() => {
            $(".alert").alert("close")
        }, 3000)
    </script>
</div>

{% endif %}