{% if messages %}

<div id="messageList" class="position-absolute d-flex align-items-end flex-column overflow-hidden p-1">

    {% for message in messages %}
    <!-- Success -->
    {% if message.tags == 'success' %}
    <div class="alert bg-white border shadow-sm fade show" role="alert">
        <div class="d-flex align-items-center">
            <i class="fa-solid fa-circle-check text-success me-3"></i>
            <div class="">
                <div>
                    <small class="fw-bold">Thông báo</small>
                </div>
                {{message}}
            </div>

            <button type="button" class="btn-close ms-5" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="alert-progress position-absolute start-0 bottom-0 bg-success"></div>
    </div>
    {% endif %}

    {% endfor %}

    <style>
        #messageList {
            top: 15px;
            right: 15px;
            z-index: 1025;
            user-select: none;
        }

        .alert i {
            font-size: xx-large;
        }

        .alert-progress {
            width: 100%;
            height: 3px;
            animation: anim 5s linear forwards;
        }

        @keyframes anim {
            100% {
                width: 0%;
            }
        }
    </style>

    <script>
        setTimeout(() => {
            $(".alert").alert("close")
        }, 5000)
    </script>
</div>

{% endif %}