<ul class="navbar-nav me-auto mb-0 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link px-2 rounded-2 {% if request.path == '/' %} active {% endif %}" aria-current="page"
            href="{% url "index" %}">
            <i class="fa-solid fa-house fa-lg"></i>
            <span>Trang Chủ</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-2 rounded-2 {% if 'income' in request.path %} active {% endif %}"
            href="{% url "income" %}">
            <i class="fa-solid fa-money-bill-trend-up fa-lg"></i>
            <span>Thu nhập</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-2 rounded-2 {% if 'spending' in request.path %} active {% endif %}"
            href="{% url "spending" %}">
            <i class="fa-solid fa-comments-dollar"></i>
            <span>Chi tiêu</span>
        </a>
    </li>
    {% comment %} <li class="nav-item">
        <a class="nav-link px-2 rounded-2 {% if request.path == '/loan' %} active {% endif %}" href="{% url "loan" %}">
            <i class="fa-solid fa-hand-holding-dollar fa-lg"></i>
            <span>Vay nợ</span>
        </a>
    </li> {% endcomment %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle px-2 rounded-2 {% if "lend" in request.path or "borrow" in request.path or 'loan' in request.path %} active {% endif %}"
            href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-hand-holding-dollar fa-lg"></i>
            Vay nợ
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url "lend" %}">Cho vay</a></li>
            <li><a class="dropdown-item" href="{% url "borrow" %}">Đi vay</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link px-2 rounded-2 {% if 'wallet' in request.path %} active {% endif %}"
            href="{% url "wallet" %}">
            <i class="fa-solid fa-wallet"></i>
            <span>Ví của bạn</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-2 rounded-2 {% if 'directory' in request.path %} active {% endif %}"
            href="{% url "directory" %}">
            <i class="fa-solid fa-address-book"></i>
            <span>Danh bạ</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link px-2 rounded-2 {% if 'category' in request.path %} active {% endif %}"
            href="{% url "category" %}">
            <i class="fa-solid fa-layer-group"></i>
            <span>Hạng mục</span>
        </a>
    </li>
</ul>