{% if paginator.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link {% if not paginator.has_previous %} disabled {% endif %}" href="?page=1"
                aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        {% if paginator.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{paginator.previous_page_number}}">{{paginator.previous_page_number}}</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">{{paginator.number}}</a>
        </li>
        {% if paginator.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{paginator.next_page_number}}">{{paginator.next_page_number}}</a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link {% if not paginator.has_next %} disabled {% endif %}"
                href="?page={{paginator.paginator.num_pages}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
{% endif %}