{% load custom_filters %}

{% if paginator.paginator.num_pages > 1 %}
<nav>
    <ul class="pagination">
        <li class="page-item pagination_prev">
            {% if paginator.has_previous %}
            <a href="{{request.GET|get_query_url:paginator.previous_page_number}}" class="page-link">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                Trước
            </a>

            {% else %}
            <a href="#" class="page-link disabled">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                Trước
            </a>
            {% endif %}
        </li>

        {% for page_num in paginator.paginator.page_range %}

        {% if page_num == 1 or page_num == paginator.paginator.page_range|last %}
        {% if page_num == paginator.number %}
        <li class="page-item">
            <a href="#" class="page-link disabled">{{ page_num }}</a>
        </li>

        {% else %}
        <li class="page-item">
            <a href="{{request.GET|get_query_url:page_num}}" class="page-link">{{ page_num }}</a>
        </li>
        {% endif %}

        {% elif page_num|is_link:paginator == 0 %}
        <li class="page-item">
            <a href="#" class="page-link disabled">...</a>
        </li>
        {% endif %}

        {% if page_num|is_link:paginator %}

        {% if page_num == paginator.number %}
        <li class="page-item pagination_current">
            <a href="#" class="page-link disabled">{{ page_num }}</a>
        </li>

        {% else %}
        <li>
            <a href="{{request.GET|get_query_url:page_num}}" class="page-link">{{ page_num }}</a>
        </li>
        {% endif %}

        {% endif %}

        {% endfor %}

        <li class="page-item pagination_next">
            {% if paginator.has_next %}
            <a href="{{request.GET|get_query_url:paginator.next_page_number}}" class="page-link">
                Sau
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>

            {% else %}
            <a href="#" class="page-link disabled">
                Sau
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </a>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}