{% load crispy_forms_tags %}


<div class="">
    <div class="d-flex align-items-center mb-3">
        {% if filter_form %}
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample">
            <i class="fa-solid fa-filter"></i>
            Lọc
        </button>
        {% endif %}


        {% if paginator.paginator.num_pages > 1 %}
        <div class="ms-auto">
            {{ paginator.start_index }} - {{ paginator.end_index }} trên
            {{ paginator.paginator.count }} ({{page_info.item_name}})
        </div>
        {% else %}
        <div class="ms-auto">1 – {{ paginator.paginator.count }} ({{page_info.item_name}})</div>
        {% endif %}
    </div>


    {% if filter_form %}

    <div class="collapse bg-white rounded-3 mb-3" id="collapseExample">
        {% crispy filter_form %}
    </div>

    {% if request.GET %}
    {% if "income" in request.path %}
    <script>
        $(document).ready(function () {
            $('#reset-btn').click(function () {
                location.href = '/income'
            });
        });
    </script>
    {% else %}
    <script>
        $(document).ready(function () {
            $('#reset-btn').click(function () {
                location.href = '/spending'
            });
        });
    </script>
    {% endif %}
    {% endif %}

    {% endif %}

</div>