{% extends "base/modal.html" %}

{% block modalContent %}
<div class="modal-header">
    <h1 class="modal-title fs-5" id="mainModal">Thêm Khoản Thu</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
    <form id="postIncomeForm" class="mb-0 w-100" method="post" autocomplete="off" action="{% url "income" %}">
        {% csrf_token %}

        <div class="mb-2">
            <div class="input-group has-validation">
                {{postIncomeDialog.name}}
                <div class="invalid-feedback">
                    {{ postIncomeDialog.name.errors }}
                </div>
            </div>
        </div>
        <div class="mb-2">
            <div class="input-group has-validation">
                {{postIncomeDialog.money}}
                <div class="invalid-feedback">
                    {{ postIncomeDialog.money.errors }}
                </div>
            </div>
        </div>
        <div class="mb-2">
            <div class="input-group">
                {{postIncomeDialog.date}}
                {{postIncomeDialog.time}}
            </div>
        </div>
        <div class="mb-2">
            <div class="input-group has-validation">
                <div class="form-floating">
                    {{postIncomeDialog.description}}
                    <label for="income-description">Mô tả</label>
                    <div class="invalid-feedback">
                        {{ postIncomeDialog.description.errors }}
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary w-100 py-2 fw-bold">Lưu</button>
        </div>
    </form>
</div>
{% endblock  %}