{% extends "base/main.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
<title>Trang Chủ</title>
{% endblock  %}

{% block stylesheet %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/2.29.1/plotly.min.js"
    integrity="sha512-qXXwcmVmWpyXDLSgJWB3xoH8IpGtzY2hDc4Ab9nQ9GsQsLRr8l+LDAsgqeQPAN4G6rhyh9LUfydj0f/49Uq3GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<div class="container my-3">
    {% comment %} <div class=" mb-3">
        <div class="d-flex gap-3 justify-content-center">
            <div class="rounded-3 bg-white w-100">
                <div class="p-3">
                    <div class="fw-bold mb-2">Hôm nay</div>
                    <div>
                        <div class="d-flex text-success fw-bold">
                            <span>
                                <i class="fa-solid fa-money-bill-trend-up fa-lg"></i>
                                {{incomes.today|formated}} đ</span>
                        </div>
                        <div class="d-flex text-danger fw-bold">
                            <span>
                                <i class="fa-solid fa-comments-dollar"></i>
                                {{spendings.today|formated}} đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded-3 bg-white w-100">
                <div class="p-3">
                    <div class="fw-bold mb-2">Tháng này</div>
                    <div>
                        <div class="d-flex text-success fw-bold">
                            <span>
                                <i class="fa-solid fa-money-bill-trend-up fa-lg"></i>
                                {{incomes.this_month|formated}} đ</span>
                        </div>
                        <div class="d-flex text-danger fw-bold">
                            <span>
                                <i class="fa-solid fa-comments-dollar"></i>
                                {{spendings.this_month|formated}} đ</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rounded-3 bg-white w-100">
                <div class="p-3">
                    <div class="fw-bold mb-2">Năm nay</div>
                    <div>
                        <div class="d-flex text-success fw-bold">
                            <span>
                                <i class="fa-solid fa-money-bill-trend-up fa-lg"></i>
                                {{incomes.this_year|formated}} đ</span>
                        </div>
                        <div class="d-flex text-danger fw-bold">
                            <span>
                                <i class="fa-solid fa-comments-dollar"></i>
                                {{spendings.this_year|formated}} đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    <div class="row g-3 mb-3">
        <div class="col-lg-4 col-md-12">
            <div class="rounded-3 bg-white">
                <div class="p-3">
                    <div class="fw-bold mb-2">Hôm nay</div>
                    <div>
                        <div class="d-flex text-success fw-bold">
                            <span>
                                <i class="fa-solid fa-money-bill-trend-up fa-lg"></i>
                                {{incomes.today|formated}} đ</span>
                        </div>
                        <div class="d-flex text-danger fw-bold">
                            <span>
                                <i class="fa-solid fa-comments-dollar"></i>
                                {{spendings.today|formated}} đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="rounded-3 bg-white">
                <div class="p-3">
                    <div class="fw-bold mb-2">Tháng này</div>
                    <div>
                        <div class="d-flex text-success fw-bold">
                            <span>
                                <i class="fa-solid fa-money-bill-trend-up fa-lg"></i>
                                {{incomes.this_month|formated}} đ</span>
                        </div>
                        <div class="d-flex text-danger fw-bold">
                            <span>
                                <i class="fa-solid fa-comments-dollar"></i>
                                {{spendings.this_month|formated}} đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6">
            <div class="rounded-3 bg-white">
                <div class="p-3">
                    <div class="fw-bold mb-2">Năm nay</div>
                    <div>
                        <div class="d-flex text-success fw-bold">
                            <span>
                                <i class="fa-solid fa-money-bill-trend-up fa-lg"></i>
                                {{incomes.this_year|formated}} đ</span>
                        </div>
                        <div class="d-flex text-danger fw-bold">
                            <span>
                                <i class="fa-solid fa-comments-dollar"></i>
                                {{spendings.this_year|formated}} đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="pie_chart_reports" class="row g-3 mb-3">
        <div class="col-lg-6 col-md-12">
            {{pie_chart_reports.incomes|safe}}
        </div>

        <div class="col-lg-6 col-md-12">
            {{pie_chart_reports.spendings|safe}}
        </div>

        <script>
            $("#pie_chart_reports svg").addClass("rounded-3 p-1")
        </script>
    </div>


    <div class="rounded-3 bg-white">
        <div class="p-1">
            {{months_report|safe}}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

{% endblock  %}